.vscode/extensions.json
__pycache__/dealData.cpython-312.pyc
__pycache__/GLView_ui.cpython-312.pyc
__pycache__/GLView_Window_ui.cpython-312.pyc
__pycache__/glWidget.cpython-312.pyc
__pycache__/mywidget_ui.cpython-312.pyc
__pycache__/untitled_ui.cpython-312.pyc
