.vscode/extensions.json
__pycache__/dealData.cpython-312.pyc
__pycache__/GLView_ui.cpython-312.pyc
__pycache__/GLView_Window_ui.cpython-312.pyc
__pycache__/glWidget.cpython-312.pyc
__pycache__/mywidget_ui.cpython-312.pyc
__pycache__/untitled_ui.cpython-312.pyc
datas/ship_dataset.npy
--main/--main/开发指南.docx
--main/--main/history.py
--main/--main/history.ts
--main/--main/README.md
--main/--main/runmodel.py
--main/--main/simulated_model_history.csv
--main/--main/trainmodel.py
--main/--main/__pycache__/history.cpython-310.pyc
--main/--main/__pycache__/runmodel.cpython-310.pyc
--main/--main/__pycache__/runmodel.cpython-312.pyc
--main/--main/__pycache__/trainmodel.cpython-310.pyc
--main.zip
__pycache__/login.cpython-312.pyc
__pycache__/main.cpython-312.pyc
